@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Lobster&family=Oleo+Script&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Lobster&family=Oleo+Script&family=Oleo+Script+Swash+Caps&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --fonte1:  'Lobster', cursive;
    --fonte2: 'Abril Fatface', cursive;
    --fonte3:  Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(178, 180, 180);
    font-family: var(--fonte3);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3.5em;
    font-family: var(--fonte2);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-left: 30px;
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 2em;
    font-family: var(--fonte1);
    font-size: 3vw;
}

section.normal{
    background-color: rgb(203, 203, 203);
}

section.imagen{
    background-color: rgb(62, 62, 62);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.418);
    background-size: cover;
}

section#img01{
    background-image: url('../imagen/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
}

section#img02{
    background-image: url('../imagen/background002.jpg');
    background-position: right center;
    background-attachment: fixed;

}

section > p{
    padding-bottom: 2em;
}

.imagen > p{
    background-color: rgba(0, 0, 0, 0.379);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 2px  black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
